*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*DEBUG MODE*/
.debug{

    header{
        padding:0.5rem;
        height: 80px;
        background-color: red;

        nav{
        padding-top: 1rem;
        height: 100%;
        background-color: aqua;

        div{
            height: 50%;
            width: 50%;
            background-color: yellow;
        }
    }
        
    }

    main{
        height: 4950px;
            background-color: green;


        .jumbotron{
            height: 718px;
            background-color:blueviolet;
            
            
            .container{
                height: 718px;
                background-color: lightgrey;
                

                h1{
                    height: 215px;
                    background-color: burlywood;
                }

                .row-box{
                    height: 503px;
                    display: flex;

                   .col-35{
                        height: 503px;
                        width: 350px;
                        background-color: aqua;
                    }

                    .col-65{
                        height: 503px;
                        width: 780px;
                        background-color: rgb(9, 176, 176);

                    }
                }


            }

            
            
        }

        #business-plan{
            height: 1425px;
            background-color: brown;
            padding-top: 5rem;

            .container{
                height: 100%;
                background-color: lightgrey;
            }


        }

    }

}


/*END DEBUG MODE*/


/*GLOBAL RULES*/
body *{
    border:  1px dashed black;

}
/*END GLOBAL RULES*/


/*UTILITY*/
.d-flex{
    display: flex;
}

.just-bet{
    justify-content: space-between;
}

.container{
    width: 70%;
    max-width: 1176px;
    margin: auto;
}

.container-sm{
    width: 60%;
    max-width: 1176px;
    margin: auto;

}
/*END UTILITY*/


/*HEADER SECTION*/

header{
    padding: 0.5rem;
}

nav{
    display: flex;
    justify-content: space-between;


    div{
        height: 50%;
    }
}


/*MAIN SECTION*/

.jumbotron{
    
}